img{
    height: 100px;
    width: auto;
    float: left;
}
.content{
    float: left;
}
.card{
    font-size: large;
    padding: 50px;
    border: 200px blue;
    margin: 20px;
}
ul{
    list-style-type: none;
}